<div class="row">

    <div class="row-height">

        <div class="col-md-3 col-md-height lat-men">

            <div id="lateral-menu"></div>

        </div>

        <div class="col-md-9 col-md-height col-top">
                <h1 class="filter-title">Biofuels policies</h1>
           <div>
                Biofuel policies are classified into two groups:
                <ul>
                    <li>Trade policies, which consist of two policy types: import measures and export measures.</li>
                    <li>Domestic policies, which consist of five policy types: biofuel targets, tax concessions, production payments, domestic price regulation, and other domestic measures.</li>
                </ul>
                <br>
                The graphs below illustrate how many of the <a data-toggle="modal" data-target="#myModal2">AMIS countries</a> are implementing biofuel policies, disaggregated by the policy types.
                <br><br>
                Note: The AMIS policy database records biofuel policies applied during the period starting from 2011 (for some countries information prior to 2011 is provided).
            </div>


      <!--      <div data-role='filter-block' class="domainfilter-no-border">


                <h2 class="filter-title">Frequency of biofuel policies - disaggregated by policy type</h2>

                <div class="row">

                    <div class="col-xs-10 domain-filter-holder">

                        <div id="filter-container" class="row">

                        </div>
                    </div>

                    <div class="col-xs-2">
                        <button id="filter-submit" class="btn btn-primary btn-block pull-right filter-go-btns">Filter</button>
                    </div>
                </div>

            </div> -->

            <div id="dashboard-content"></div>

        </div>
    </div>

</div>

<!-- Country Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel2">The 28 AMIS countries are:</h4>
            </div>
            <div class="modal-body">
                <div class="ap-country-holder">
                    Argentina <br>
                    Australia <br>
                    Brazil<br>
                    Canada<br>
                    China<br>
                    Egypt<br>
                    European Union<br>
                    France<br>
                    Germany<br>
                    India<br>
                    Indonesia<br>
                    Italy<br>
                    Japan<br>
                    Kazakhstan<br>
                    Mexico<br>
                </div>
                <div class="ap-country-holder">
                    Nigeria<br>
                    Philippines<br>
                    Republic of Korea<br>
                    Russian Federation<br>
                    Saudi Arabia<br>
                    South Africa<br>
                    Spain<br>
                    Thailand<br>
                    Turkey<br>
                    Ukraine<br>
                    United Kingdom<br>
                    United States of America<br>
                    Viet Nam<br>
                </div>
            </div>

        </div>
    </div>
</div>