<div>
<section data-description="biofuelsPolicies">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>Biofuels policies</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            Biofuel policies are classified into two groups:
            <ul>
                <li>Trade policies, which consist of two policy types: import measures and export measures.</li>
                <li>Domestic policies, which consist of five policy types: biofuel targets, tax concessions, production payments, domestic price regulation, and other domestic measures.</li>
            </ul>
            <br>
            The graphs below illustrate how many of the <a data-toggle="modal" data-target="#myModal2">AMIS countries</a> are implementing biofuel policies, disaggregated by the policy types.
            <br><br>
            Note: The AMIS policy database records biofuel policies applied during the period starting from 2011 (for some countries information prior to 2011 is provided).
        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel2">The 28 AMIS countries are:</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>

<div>
<section data-description="biofuelsPoliciesDetailed">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>Biofuels policies-detailed</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            Biofuel policies are classified into seven policy types. Each of these policy types consists of a set of policy measures. The <a href="docs/statistical_notes/OrganizationPoliciesInAMISPolicyDatabase.pdf" target='_blank'>organizational diagram</a> illustrates this classification.
            <br><br>
            Select the biofuel policy type for which you would like to see more information. The graphs below show how many of the <a data-toggle="modal" data-target="#myModal2">AMIS countries</a> are implementing the selected biofuel policy type, disaggregated by the associated policy measures.
            <br><br>
            Note: The AMIS policy database records biofuel policies applied during the period starting from 2011 (for some countries information prior to 2011 is provided).
        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel2">The 28 AMIS countries are:</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>
<div>

<section data-description="importTariffs">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>Import Tariffs</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
<span>The AMIS policy database contains information on import tariffs starting from 2010 for the <a data-toggle="modal" data-target="#myModal2">AMIS countries</a>. Data on MFN applied tariffs and final bound tariffs are recorded for the 4 AMIS commodities (wheat, maize, rice and soybean) and for biofuels. <br><br>The data are sourced from the WTO CTS and IDB databases. Links to these databases can be found on the <a href="#resources">Resources</a> page.<br></span>
        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel2">The 28 AMIS countries are:</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>

<div>
<section data-description="exportSubsidies">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>Export Subsidies</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
             <span>The AMIS policy database contains information on export subsidies starting from 1995 for the <a data-toggle="modal" data-target="#myModal2">AMIS countries</a>. Data on budgetary outlays and quantities (both commitments and notifications) are recorded for the 4 AMIS commodities (wheat, maize, rice and soybean). Export subsidies apply to groups of commodities, which can be composed of <br>
                    <ul>
                        <li>commodities that all belong to the same AMIS commodity class (e.g. Maize), or</li>
                        <li>commodities that belong to a mixed AMIS commodity class (e.g. Maize & Wheat & Rice).</li>
                    </ul>
                        The composition of these groups of commodities (called shared groups) can be found in the file <a href="docs/statistical_notes/SharedGroupList_May2016.xls" target='_blank'>Shared Groups list</a> posted on the Resources page. <br>
                        The data are sourced from the WTO database on export subsidies. The link to this database is listed on the <a href="#resources">Resources</a> page.
                    </span>
                    <br>
        </div>

        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel2">The 28 AMIS countries are:</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>

<div>
<section data-description="exportRestrictions">
<div class="row">
        <div class='col-xs-12'>
            <h1 class='fx_header_title'>Export Restrictions</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
          The AMIS policy database records information on 9 different export restrictive measures. The graphs below focus on 5 of these measures and show many of the <a data-toggle="modal" data-target="#myModal2">AMIS countries</a> are implementing these measures on the 4 AMIS crops (wheat, rice, maize and soybeans).<br><br>
            Note: The AMIS policy database records export restrictions applied during the period starting from 2007 (for some countries information prior to 2007 is provided).
        </div>
        <!-- Country Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel2">The 28 AMIS countries are:</h4>
                        </div>
                        <div class="modal-body">
                            <div class="ap-country-holder">
                                Argentina <br>
                                Australia <br>
                                Brazil<br>
                                Canada<br>
                                China<br>
                                Egypt<br>
                                European Union<br>
                                France<br>
                                Germany<br>
                                India<br>
                                Indonesia<br>
                                Italy<br>
                                Japan<br>
                                Kazakhstan<br>
                                Mexico<br>
                            </div>
                            <div class="ap-country-holder">
                                Nigeria<br>
                                Philippines<br>
                                Republic of Korea<br>
                                Russian Federation<br>
                                Saudi Arabia<br>
                                South Africa<br>
                                Spain<br>
                                Thailand<br>
                                Turkey<br>
                                Ukraine<br>
                                United Kingdom<br>
                                United States of America<br>
                                Viet Nam<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
</div>