<h1>{{browse_title}}</h1>
<h4>The interactive graphs below display different aspects of the database. These graphs give a snapshot of the contents and potential of the policy database.</h4>
<h2 class="amis-sidebar-title">POLICY CLASSIFICATION</h2>
<p>This diagram illustrates how policies are categorized in the AMIS policy database</p>
<a class="ap-diagram-link" target="_blank" href="http://fenixrepo.fao.org/data/policy/general/OrganizationPoliciesInAMISPolicyDatabase.pdf">
<img height="67px" width="160px" src="src/images/logo-diagram.png"><br>
<span>Open Diagram <i class="fa fa-chevron-circle-right"></i></span></a>
<!--<hr>-->
<div class="row">
    <div class="intro-logo-holder col-xs-12">
        <div id="domain-content">
            <div class="row">
                <div class="row-height">
                    <div class="col-md-3 col-md-height lat-men">
                        <div id="lateral-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>