/* Base style File */

body {
  background-color: $amis-background;
  color: $fenix-text;
}

.navbar-brand {
  background-image: url(../../src/images/banner-tag.jpg);
  width: 270px;
  height: 90px ;
  position: relative;
  background-size: 100% 100%;
  background-position: 0 0;
}

.navbar{
  margin-bottom: 0;
}

.navbar-nav {

  > li {

    &.active{

      &:before {
        content: '';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $fx-cool-blue;
        position: absolute;
        margin-left: -10px;
        left: 50%;
        top: 100%;
      }

    }

    > a {
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: "Open Sans Condensed", sans-serif;
      color: white;
      font-size: 14px;
    }

  }

}




.container{
  background-color: white;
}



.container {
  background-color: white;
}


.amis-header{
  background-image: url(../../src/images/calder-Amis.jpg);
  background-position: 100% 0;
  background-repeat: no-repeat;


  .banner-links{
    background-color: white;
  }

}