<div class="row">

    <div class="col-md-9">
        <h1>WELCOME TO THE AMIS POLICY DATABASE</h1>
        <p>The AMIS policy database gathers information on trade measures and domestic measures related to the four AMIS crops (wheat, maize, rice, and soybeans) as well as biofuels. The design of this database allows comparisons across countries, across commodities and across policies for selected periods of time.</p>
    </div>

    <div class="col-md-3">
        <h2>RESOURCES</h2>
        <ul class="list-unstyled">
            <li><a>List of the 28 AMIS countries</a></li>
            <li><a href="../policy/doc/statistical_notes/ConceptNoteAMISPolicyDatabase.pdf">Concept Note</a></li>


        </ul>

        <h2>POLICY CLASSIFICATION</h2>
        <p>This diagram illustrates how policies are categorized in the AMIS policy database</p>
        <a href="../policy/doc/statistical_notes/OrganizationPoliciesInAMISPolicyDatabase.pdf" target="_self" class="ap-diagram-link">
            <img src="src/images/logo-diagram.png" height="67px" width="160px"><br>
            <span>Open Diagram <i class="fa fa-chevron-circle-right"></i></span>
        </a>

    </div>



</div>

<div class="row">
    <a href="../policy/policiesAtaGlance.html" target="_self">
        <div class="col-sm-3 home-btn-box">
            <h2 class="text-center"> POLICIES AT A GLANCE </h2>

            <p class="text-center">Get a snapshot of the contents and potential of the policy database. Browse the
                pre-defined sets of interactive graphs that display different aspects of the database.</p>
        </div>
    </a>
    <a href="../policy/queryAndDownload.html" target="_self">
        <div class="col-sm-3 home-btn-box">
            <h2 class="text-center"> QUERY AND DOWNLOAD </h2>

            <p class="text-center">Select, view and download subsets of the database. A value inspection tool allows
                for viewing, sorting and filtering the data.</p>
        </div>
    </a>
    <a href="../policy/resources.html" target="_self">
        <div class="col-sm-3 home-btn-box">
            <h2 class="text-center"> RESOURCES </h2>

            <p class="text-center">Look up how variables are defined and classified. Explanatory documents, diagrams
                and links provide background information on the organization and contents of the database.</p>
        </div>
    </a>
</div>