<div class="row amis-step-title">
    <div class="col-xs-12">
    <span class="amis-step-number">1</span>
    <span class="amis-step-title-text">Select Commodity and Policy Domain</span>
</div>
<!--
<div class="row fx_selector_content fx_selector_shadow">
    <div class="col-xs-6">
        <div id ="fx_selector_1">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="amis-step-subtitle-text" id="fx_selector_1_label"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="fx_selector_1_rb1"></div>
                    <div id="fx_selector_1_rb2"></div>
                    <div id="fx_selector_1_rb3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div id ="fx_selector_2">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="amis-step-subtitle-text" id="fx_selector_2_label"></div>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="fx_selector_2_rb1"></div>
                    <div id="fx_selector_2_rb2"></div>
                    <div id="fx_selector_2_rb3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<br>
<!--
<div class="row amis-step-title">
    <div class="col-xs-12">
        <span class="amis-step-number">2</span><span class="amis-step-title-text">Specify Policies, Commodities and Countries</span>
    </div>
</div>
-->
<div class="row amis-step-title">
    <div class="col-xs-12">
    <span class="amis-step-number">2</span>
    <span class="amis-step-title-text">Specify Policies, Commodities and Countries</span>
</div>

<div class="row fx_selector_content">
    <div class="col-xs-6">
        <div id ="fx_selector_3">
            <ul>
                <li style="margin-left: 30px;">
                    <div>Tab Policy Type </div>
                </li>
            </ul>
            <div>
                <div id="fx_selector_3_listbox"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div id ="fx_selector_4">
            <ul>
                <li style="margin-left: 30px;">
                    <div>Tab Policy Measure </div>
                </li>
            </ul>
            <div>
                <div id="fx_selector_4_listbox"></div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row fx_selector_content">
    <div class="col-xs-6">
        <div id ="fx_selector_5">
            <ul>
                <li style="margin-left: 30px;">
                    <div>Tab Commodity </div>
                </li>
            </ul>
            <div>
                <div id="fx_selector_5_listbox"></div>
            </div>
    </div>
</div>
<div class="col-xs-6">
    <div id ="fx_selector_6">
        <ul>
            <li style="margin-left: 30px;">
                <div>Tab Country </div>
            </li>
        </ul>
    <div>
    <div id="fx_selector_6_listbox"></div>
</div>

<div class="row fx_selector_shadow ">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-6 fx_selector_checkbox">
                <div id ="fx_selector_5_checkbox_removeFromList" class="policy-button float-fix-checkbox"><div id ="fx_selector_5_checkbox_removeFromList_label"></div>
            </div>
    </div>
</div>
<br>
<div class="row amis-step-title">
    <div class="col-xs-12">
        <span class="amis-step-number">3</span><span class="amis-step-title-text">Select time period or specify years</span>
    </div>
</div>
<div class="row fx_selector_content fx_selector_shadow">
    <div class="col-xs-12">
        <div id ="fx_selector_7">
            <ul>
                <li style="margin-left: 30px;">
                    <div>Tab Year1 </div>
                </li>
                <li style="margin-left: 30px;">
                    <div>Tab Year2 </div>
                </li>
            </ul>
            <div class='fx_selector_7_slider' id="fx_selector_7_slider">
                <div>
                    <div id='fx_selector_7_slider_container'></div>
                    <div id='fx_selector_7_slider_labelMin' style='float: left'></div>
                    <div id='fx_selector_7_slider_labelMax' style='float: right'></div>
                </div>
            </div >
            <div id="fx_selector_7_listbox"></div>
        </div>
    </div>
</div>
